
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
}

body {
    margin: 0;
    background-image: url(/IMG/Rei.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #ffffff;
    font-family: 'Press Start 2P', sans-serif;
}

.bg-purple {
    background-color: #0A280D;
    background-size: cover;
    background-position: center;
}

.btnEmpleado {
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    width: 650px;
}

.btnEmpleado {
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    width: 650px;
    float: right;
}

hr {
    border-top: 1px solid #FFFFFF;
    margin-top: 20px;
}


.login-container {
    background-color: #0A280D;
    max-width: 500px;
    padding: 20px;
    border-radius: 8px;
    margin: auto;
    margin-top: 5%;
    text-align: center;
}

    .login-container h4 {
        font-family: 'Press Start 2P', sans-serif;
        font-size: 24px;
        color: #ffffff;
    }

label {
    display: block;
    text-align: left;
}
h4{
    margin-bottom:30px;
}
.form-control {
    background-color: #856743;
    color: white;
    border: 1px solid #ffffff;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 15px;
}
.form-control::placeholder{
    color: white;
    opacity:0.5;
}

.btn-login {
    background: linear-gradient( #856743 0%, #2F261B 100%);
    border: none;
    color: white;
    margin-top:20px;
    padding: 10px;
    width: 100%;
    border-radius: 4px;
    font-family: 'Press Start 2P', sans-serif;
}
    .btn-login:hover {
        background: #856743;
    }
p{
    margin-top:20px;
}
.text-link {
    margin-top: 20px;
    color: #A5D6A7;
    text-decoration: none;
}

    .text-link:hover {
        text-decoration: underline;
    }
.login-container-2 {
    background-color: #0A280D;
    max-width: 700px;
    padding: 20px;
    border-radius: 8px;
    margin: auto;
    margin-top: 5%;
    text-align: center;
}

    .login-container-2 h4 {
        font-family: 'Press Start 2P', sans-serif;
        font-size: 24px;
        color: #ffffff;
        margin-bottom:20px;
    }
.btn-primary {
    background: linear-gradient( #856743 0%, #2F261B 100%);
    border: none;
    font-size: 1rem;
    font-weight: 300;
    padding: 10px 20px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
    .btn-primary:hover {
        background: #856743;
    }